test-results
node_modules

# Output
.output
.vercel
.netlify
.wrangler
/build-inline
/build
dist/*
!dist/default-config.zip
!dist/serve.py
pyodide_0-27-7/

# If you later choose GitHub Pages "docs/" deployment, remove this line and use docs/
#docs/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
